.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
}

.form-item {
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 8px;
    margin-top: -10px;
    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    input,
    select {
        padding: 8px 10px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
        outline: none;

        transition: 0.2s;
            &:focus {
                border: 1px solid rgba($color: #000000, $alpha: 1);
                box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
            }
        
    }
}

.btn-add {
    margin-top: 10px;
    padding: 10px 14px;
    background: #4096ff;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
        background: #1d73e8;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

        transform: translateY(-2.5px);
    }
    &:active {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

        transform: translateY(-0.5px);
    }
}

.btn-remove {
    position: absolute;
    top: 5px;
    right: 8px;
    background: #ff4d4f;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background-color: #ea8586;
    }
}

.partials {
    margin-top: 10px;
    .btn-btn-btn {
        margin-left: 10px;
    }
}
.form-group-inline{
    position: relative;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.partials-i {
    // margin-top: 5px;
    width: 80%;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    height: 35px ;
    padding-left: 10px ;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn-remove-children{
    position: absolute;
   right: 20px;
    background: #ff4d4f;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        background-color: #ea8586;
    }
}

.label-content {
    padding-right: 10px;
}

.btn-remove-children,.btn-remove{
    &:hover{
        transform: translateY(-2.5px);
    box-shadow: 3px 3px  3px  rgba($color: #000000, $alpha: 0.4); 
    }
    &:active{
        transform: translateY(-.5px);
    box-shadow: 1px 1px  1px  rgba($color: #000000, $alpha: 0.4); 
    }
}