.button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 12px 16px;
    border-radius: 50%;
    background-color: #c9b3b3;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    z-index: 1000;
    &:hover {
        background-color: #d3c6c6;
        color: #929090;
    }
}
