

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-image: url(../../../assets//images/background-register.jpg);
    resize: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.wrapper{
    padding: 20px;
    border-radius: 5px;

    width: 500px;
    background-color: #aee1f9;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 700;
    
}



.main{
    
}

.m-item{
    
}

.m-item-item{
    display: flex;
    width: 100%;
    padding: 7px;
    height: 45px;
    margin-top: 5px;
}
.m-item-item-content{
    width: 40%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: center;

}
.m-item-item-input{
    width: 60%;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    &:focus{
        border: 1px solid rgba(0,0,0,0.6);
    }


}

.footer{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.f-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    &:active{
        border: 1px solid rgba(0,0,0,0.6);
    }
    &:hover{
        transform: translateY(-2.5px);
    }
}
.f-btn-cancel{
    background-color: #ff4500;
    color: #fff;
    
    &:hover{
        background-color: #f96d3a;
        color: #fff;
        
    }
}
.f-btn-confirm{
    background-color: #80ff00;
    color: #000000;
    
    &:hover{
        background-color: #9ef845;
        color: #253d29;
        
    }

}
.input-password {
    display: flex;
    flex-direction: column; // xếp dọc
    width: 60%;

    &:focus{
        border: 1px solid rgba(0,0,0,0.6);
    }
  
    .input-password-input {
      width: 100%;
      padding: 8px;
    //   border: 1px solid rgba(0,0,0,0.6);
      border-radius: 5px;
      font-size: 1.4rem;
    }
  
    .input-password-error {
      margin-top: 1px; // tạo khoảng cách với input
      font-size: 1.2rem;
      color: #ff4500;
    }
  }

  .password-config{
   
  }
  
  