

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1000;

  &.overlay-show {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    opacity: 1;
  }
}

.modal {
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  min-width: 400px;
  position: relative;
  transform: translateY(-20px) scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;

  &.modal-show {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .cancel {
      background: #ff0000;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #f43c3c;
        transform: translateY(-2.5px);
      box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);


      }
      &:active{
        background: #e57d7d;
      box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.2);

        transform: translateY(-.5px);
      }
    }

    .save {
      background: #2d89ef;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s;
      box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.2);


      &:hover {
        background: #3891f6;
        transform: translateY(-2.5px);
        box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.4);
      }
      &:active{
        background: #2d89ef;
      box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.2);

        transform: translateY(-.5px);
      }
    }
  }
}

.toast {
  position: fixed;
  top: 30px;
  right: 40%;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 0.3s forwards, fadeOut 0.3s 2.7s forwards;
  z-index: 9999;
}

.toast.success { background-color: #4caf50; }
.toast.error   { background-color: #f44336; }

@keyframes slideIn {
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateY(-20px); }
}



