.toggle-show {
    display: flex;
    margin: 10px 0;

}

.btn-add {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.25s ease;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/* Trạng thái toggle "Thêm" */
.btn-add-toggle {
    background-color: #4cafef;
    color: white;
    &:hover {
        background-color: #2d9cdb;
        transform: translateY(-2.5px); 
    }
    
    &:active {
        transform: translateY(0.5px); 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset; 
    }
}


/* Trạng thái toggle "Ẩn" */
.btn-add-hide {
    background-color: #f44336;
    color: white;
    
    &:hover {
        background-color: #d32f2f;
        transform: translateY(-2.5px); 
    }
    
    &:active {
        transform: translateY(0.5px); 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
    }
}
