.register-inform {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: max-content;
    height: fit-content;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 600;
}

.mean {

}


.item-item { 
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
}

.item-content {
width: 40%;
}

.item-input {
}

.item-input-i {
}
