@import 'normalize.css';

:root {
    // --primary: #fe2c55;
    // --black: #000;
    // --white: #fff;
    // // 
    // --text-color: #161823;
    // --Light-gray: #f5f7fa;
    // --accent:#00a8cc;
    // // cntt
    // --light-exa:#f5f7fa;
    // --navy-blue:#1a1f71;
    // --Charcoal: #2d2f3a;
    // --light-blue:#00a8cc;
    // --text:#2d2f3a;
    
    --light-pink:	#faf5f5;
    --primary:	#ff6f61;
    --secondary:#00bcd4;
    --background:	#fdfdfd;
    --text:#2c3e50;
    --muted: #7f8c8d;
    --card-bg: #ffffff;
    --hover: #ffe4e1;
    

    // --font-family: 'ProximaNova', sans-serif;
    --font-family: 'Inter', sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text);
    overflow-y: overlay;
    cursor: default;
    user-select: none;
}

li{
    list-style: none
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text);
    text-decoration: none;
}



// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

// animation

