@keyframes moveGradient {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: 0% center;
    }
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.wrapper {
    width: 400px;
    background-color: #dec7bf;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 2.5rem;
    font-weight: 600;
}

.m-item-item {
    margin-top: 15px;

    &:focus-within {
        transform: translateY(-2px);
        //   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
}

.m-item-content {
    font-size: 2rem;
    font-weight: 500;
}

.m-item-input {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;

    &:focus-within {
        border: 1px solid rgba(0, 0, 0, 0.9);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        outline: none;
    }
}

.m-item-input-input {
    font-size: 2rem;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    background-color: transparent;

    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.footer {
    width: 100%;
    margin-top: 40px;
}

.f-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;

    .f-btn-btn {
        position: relative;
        padding: 12px 32px;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        background: #d0ca78;
        border: none;
        cursor: pointer;
        overflow: hidden;
        border-radius: 8px;
        transition: transform 0.15s ease;

       

        // &::before {
        //     content: '';
        //     position: absolute;
        //     inset: 0;
        //     border: 2px solid #1ac5fd;
        //     border-radius: 8px;
        //     transform: scale(0);
        //     transition: transform 0.4s ease;
        // }

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
            transform: scale(1) translateY(-2.5px);
        }
        &:active {
          transform:  translateY(-.5px);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

      }
    }
}

.f-clause {
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    .f-clause-btn {
        margin-top: 5px;
        display: flex;
        justify-content: end;
        font-size: 1.3rem;
        font-weight: bold;
        color: #000;
        // background-image: linear-gradient(to left, #ff6a00, #ee0979, #1ac5fd, #12c2e9, #c471ed, #f64f59);
        background-size: 200% auto;
        background-position: left;
        -webkit-background-clip: text;
        background-clip: text;
        transition: background-position 2s ease;
        cursor: pointer;

        &:hover {
            // animation: moveGradient 4s linear infinite;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            transform: translateY(-2px);
        }
    }

    .forget {
        // margin-right: 15px;
        //   padding: 5px 10px;
        color: #000000;
        border-radius: 5px;
        // background-color: #000;

        &:hover {
            color: #ff6a00;
        }
    }
    .register {
        // margin-right: 15px;
        //   padding: 5px 10px;
        color: #000000;
        border-radius: 5px;
        // background-color: #000;

        &:hover {
            color: #00ff91;
        }
    }
}

.m-item-input-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
}
