.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 8px 14px;
    transition: 0.2s ease;
    box-shadow: inset 0 0 0 1px #ddd;
    width: 450px;
  
    &:focus-within {
      box-shadow:2px 2px 2px rgba($color: #000000, $alpha: .5), inset 0 0 0 2px #007bff;
      background: #fff;
      transform: translateY(-2.5px);
    }
  }
  
  .icon {
    font-size: 1.6rem;
    font-weight: 600;
    width: 18px;
    height: 18px;
    color: #777;
  }
  
  .search-input {
    border-radius: 5px;
    font-size: 1.6rem;
    width: 95%;
    height: 20px;
    background-color: transparent;
    &:focus-within{
        box-shadow: none;
    }
  }
  